# Git ignore for JS code

# Use file white-list and folder black-list
*
!*/

# Remove building folders
[Bb]in/
[Cc]overage/

# Add source file
!*.js
!*.json

# Add repository files
!*.md
!.git*
!LICENSE

